{% if prod %}
<h1>Inventario (Producción)</h1>
{% else %}
<h1>Inventario (Develop)</h1>
{% endif %}

<h1>Stocks de los inventarios</h1>
{% if current_sku_stocks|length > 0 %}
{% for key, almacen in current_stocks.items %}
    <h1>{{almacen}}</h1>
    {%for sku in almacen%}
    <h3>{{sku}}</h3>
        {% endfor %}
    {% endfor %}
{% else %}
<h1>Aún no hay inventario :(</h1>
{% endif %}

<h1> Realizar pedidos</h1>
<p>1001: Arroz granco corto, Multiplos de 10</p>
<p>1002: Vinage, Multiplos de 10</p>
<p>1004: Sal, Multiplos de 100</p>
<p>1008: Filete salmón, Multiplos de 10</p>
<p>1009: Filete atún, Multiplos de 3</p>
<p>1010: Palta, Multiplos de 5</p>
<p>1013: Masago, Multiplos de 10</p>
<p>1016: Nori entero, Multiplos de 8</p>
<form action="pedir" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Pedir">
</form>