{% if prod %}
<h1>Inventario (Producción)</h1>
<h2>Mas información en <a href="products">Productos</a> e <a href="ingredients">Ingredientes</a></h2>
{% else %}
<h1>Inventario (Develop)</h1>
<h2>Mas información en <a href="products">Productos</a> e <a href="ingredients">Ingredientes</a></h2>
{% endif %}

<h1>Stocks de los inventarios</h1>
{% if current_sku_stocks|length > 0 %}
{% for key, almacen in current_stocks.items %}
    <h3>{{key}}: {{almacen}}</h3>
    {% endfor %}
{% else %}
<h1>Aún no hay inventario :(</h1>
{% endif %}

<h1> Realizar pedidos (Solo de productos 100, que nosotros fabricamos)</h1>
<p>1001: Arroz granco corto, Multiplos de 10</p>
<p>1002: Vinage, Multiplos de 10</p>
<p>1004: Sal, Multiplos de 100</p>
<p>1008: Filete salmón, Multiplos de 10</p>
<p>1009: Filete atún, Multiplos de 3</p>
<p>1010: Palta, Multiplos de 5</p>
<p>1013: Masago, Multiplos de 10</p>
<p>1016: Nori entero, Multiplos de 8</p>
<form action="pedir" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Vaciar Recepcion">
</form>



<h1>Preparar productos (Productos 1000, que necesitan de otros)</h1>
<p>1101: Arroz cocido, Múltiplos de 10 -> Necesita 1001, 1003, 1004, 1002</p>
<p>1201: Camarón cocido, Múltiplos de 10 -> Necesita 1101</p>
<p>1105: Arroz cocido, Múltiplos de 10 -> Necesita 1005</p>
<p>1106: Kanikama para roll, Múltiplos de 100 -> Necesita 1006</p>
<p>1107: Salmón cortado para roll, múltiplos de 11 -> Necesita 1007</p>
<p>1108: Salmón ahumado, múltiplos de 6 -> Necesita 1008</p>
<p>1109: Atún cortado para roll, múltiplos de 12 -> Necesita 1009</p>
<p>1110: Palta, múltiplos de 6 -> Necesita 1010</p>
<p>1210: Palta para roll, múltiplos de 9-> Necesita 1110</p>
<p>1111: Sésamo tostado, múltiplos de 2 -> Necesita 1011</p>
<p>1115: Ciboulette picado para roll, múltiplos de 8 -> Necesita 1015</p>
<p>1116: Nori entero, múltiplos de 10 -> Necesita 1016</p>
<p>10002: California maki masago, múltiplos de 1 -> Necesita 1201, 1105, 1013, 1210,1116</p>
<form action="preparar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Pedir">
</form>

<form action="vaciar">
    <input type="submit" value="Vacíar despacho" />
</form>

<h2>Mas información en <a href="products">Productos</a> e <a href="ingredients">Ingredientes</a></h2>
